h1,h2,h3,h4,h5,h6,p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #434455;
}

img {
  display: block;
}

/* =========== Header styles =========== */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  width: 1440px;
  height: 72px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-nav {
  display: flex;
  align-items: center;
}

.header-container {
  align-items: center;
  display: flex;
}

.menu {
  display: flex;
  gap: 40px;
}

.contact-list {
  display: flex;
  gap: 40px;
}

.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-black-header {
  color: #2e2f42;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover {
background-color: #404bbf;
}
.menu-link:focus {
  background-color: #404bbf;
}

.current {
position: relative;
color:#404BBF;
}

.current::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color:#404BBF;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf; 
}

.page-contact {
  font-style: normal;
  margin-left: auto;
}

/* =========== Hero Section styles =========== */

.hero {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/office.jpg');
  display:block ;
  max-width: 1440px;
  background-size: cover;
  background-color: #2e2f42;
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;}

.main-title { 
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  display: block;
  max-width: 496px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.btn-service-block {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
  background-color:#4d5ae5;
  display: block;
  margin-right:auto;
  margin-left: auto;
  height: 56px;
  border-radius: 4px;
  margin-top: 48px;
  min-width: 169px;
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-service:hover,
.btn-service:focus {
  color: #fff;
  background: #404bbf;
}

/* =========== Benefits Section styles =========== */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits {
  padding: 120px 0;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-list-item {
  width: calc((100% - 72px) / 4);
}

.div-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #F4F4FD;
  border-radius: 4px;
  margin-bottom: 8px;
}

.benefits-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.benefits-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* =========== Team Section styles =========== */

.team-list {
  display: flex;
  gap: 24px;
}

.team {
  background-color: #F4F4FD; 
  padding: 120px 0;
}

.team-item-name {
  padding: 32px 0;
}

.team-list-item {
  background-color: #FFFFFF; 
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
          0px 1px 1px 0px rgba(46, 47, 66, 0.16),
          0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);

}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team-icon-list{
  display: flex;
  justify-content: center;
  gap: 24px;
  fill: #F4F4FD;
}

.li-icon-list{
  width: 40px;
  height: 40px;
}

.picture-list{
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.picture-list:hover {
  background-color: #404bbf;
}
.picture-list:focus{
  background-color: #404bbf;
}

/* =========== Portfolio styles =========== */


.portfolio-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  text-align: left;
  row-gap: 48px;
}


.portfolio-list-item {
  border: 1px solid #e7e9fc;
  width: 360px;
}

.div-text{
  position: relative;
  overflow: hidden;
}

.portfolio-list-item{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.portfolio-list-item{
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-text:hover .p-text {
  transform: translateY(0%);
}

.p-text{
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  top:0;
  height: 100%;
  width:100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-title-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}


/* =========== /Footer styles =========== */

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-container{
  display: flex;
  align-items: baseline;
}

.div-footer{
  margin-right: 120px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  max-width: 115px;
  display: inline-block;
  margin-bottom: 16px;
}

.page-footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #2e2f42;
  max-width: 264px;
}

.logo-white-footer {
  color: #f4f4fd;
}

.div-footer{
  margin-right: 120px;
}

.site-footer-container-links{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.social-media{
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;
}

.ul-social-media{
  display: flex;
  justify-content: center;
  gap: 16px;
}

.li-social-media{
  width: 40px;
  height: 40px;
}

.svg-social-media{
  fill: #f4f4fd;
}

.a-social-media{
  width: 100%;
height: 100%;
background-color: #4d5ae5;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
color: #fff;
transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.a-social-media:hover,
.a-social-media:focus{
  background-color: #31d0aa;
}

/* media list */
.footer-subscribe-text{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;

}
.footer-form-wrapper{
  margin-left: 80px;
  display: flex;
  flex-direction: column;
}
.footer-form{
  display: flex;
  gap: 24px;
}
.footer-form-input{
  border: 1px solid #fff;
  border-radius: 4px;
  min-width: 264px;
  height: 40px;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: transparent;
}
.footer-form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.footer-form-input:focus {
  outline: transparent;
}
.footer-subscribe-btn{
  display: flex;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: none;
}
.footer-send-icon{
  fill: #fff;
  margin-left: 16px;
}


/* Model icon */

.div-modelicon{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999999;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0,0, 0.1);
  border-radius: 50%;
  padding: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
border: none;
background-color: #404bbf;
}

.modal-close-button:hover > .modal-cls-btn-icon,
.modal-close-button:focus > .modal-cls-btn-icon {
fill: #ffffff;
}

.modal-cls-btn-icon {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.p-windows{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  max-width: 360px;
  margin-bottom: 16px
}

.div-form-review{
  margin-bottom: 8px;
}

.div-form-model{
  position: relative;
}

.label-form-review{
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-form-review{
  outline: transparent;
  background-color: transparent;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding: 8px 16px 8px 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2e2f42;
}

.input-form-review{
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.input-form-review:focus{
  border: 1px solid #4d5ae5;
  outline: transparent;
}

.svg-form-review{
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form-review:focus + .svg-form-review{
  fill: #4d5ae5; 
}

.div-class-windows{
  margin-bottom: 16px;
}

.textarea-class{
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-class::placeholder{
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.textarea-class:focus{
  border-color: #4d5ae5;
}

.review-form-checkbox-wrapper{
  margin-bottom: 24px;
}

.review-form-own-checkbox{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   border 250ms cubic-bezier(0.4, 0, 0.2, 1),
   fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox-label{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.review-form-privacy-checkbox:checked+.review-form-checkbox-label .review-form-own-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
  border-color: #404bbf;
}


.privacy-policy-link{
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.review-form-submit-btn{
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  margin-left: 95px;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
  background-color: #404bbf;
}
